In [51]:
# X,Y : 이동평균선 기준. X가 Y를 상승돌파시 매수신호, X가 Y를 하락돌파시 매도신호
# Z : df.index 중 시작일

# Z값 분류
# 0 : 1990-1-3
# 2888 : 2000-1-4
# 3129 : 2001-1-4
# 3619 : 2003-1-2
# 4115 : 2005-1-3
# 4611 : 2007-1-2
# 5105 : 2009-1-2
# 5609 : 2011-1-3
# 6105 : 2013-1-2
# 6352 : 2014-1-2
# 6597 : 2015-1-2
X=5
Y=60
Z=1741

In [52]:
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
# 파일 불러오기
path=r'C:\Users\sw.shin\Desktop\sw.shin\06_코딩\연습용 자료들\03_KOSPI200,F-KOSPI200(2007~).xlsx'
df=pd.read_excel(path, sheet_name='KOSPI 200', index_col=0)
df

            KOSPI 200
D A T E
2007-01-02     185.70
2007-01-03     182.13
2007-01-04     180.52
2007-01-05     179.10
2007-01-08     177.08
...               ...
2019-12-04     274.15
2019-12-05     273.30
2019-12-06     276.56
2019-12-09     278.03
2019-12-10     279.31

[3200 rows x 1 columns]

In [54]:
df.index[Z]

Timestamp('2014-01-02 00:00:00')

In [55]:
df=df[Z:]
df

            KOSPI 200
D A T E
2014-01-02     257.64
2014-01-03     254.48
2014-01-06     255.41
2014-01-07     255.98
2014-01-08     255.76
...               ...
2019-12-04     274.15
2019-12-05     273.30
2019-12-06     276.56
2019-12-09     278.03
2019-12-10     279.31

[1459 rows x 1 columns]

In [56]:
# F-KOSPI 200 붙이기
dg=pd.read_excel(path, sheet_name='F-KOSPI 200', index_col=0)
df['F-KOSPI 200']=dg
df=df[:-2]
df

C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            KOSPI 200  F-KOSPI 200
D A T E
2014-01-02     257.64      1268.08
2014-01-03     254.48      1252.62
2014-01-06     255.41      1255.57
2014-01-07     255.98      1261.46
2014-01-08     255.76      1260.23
...               ...          ...
2019-12-02     277.44      1348.90
2019-12-03     276.19      1341.13
2019-12-04     274.15      1334.09
2019-12-05     273.30      1330.69
2019-12-06     276.56      1343.31

[1457 rows x 2 columns]

In [57]:
# KOSPI 200의 일간 수익률,MA_X, MA_Y 구하기,
df['KOSPI 200 daily return']=df['KOSPI 200'].pct_change()
df['F-KOSPI 200 daily return']=df['F-KOSPI 200'].pct_change()
df['MA'+str(X)]=df['KOSPI 200'].rolling(window=X).mean()
df['MA'+str(Y)]=df['KOSPI 200'].rolling(window=Y).mean()
df

C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,KOSPI 200,F-KOSPI 200,KOSPI 200 daily return,F-KOSPI 200 daily return,MA5,MA60
D A T E,,,,,,
2014-01-02,257.64,1268.08,NaN,NaN,NaN,NaN
2014-01-03,254.48,1252.62,-0.012265,-0.012192,NaN,NaN
2014-01-06,255.41,1255.57,0.003655,0.002355,NaN,NaN
2014-01-07,255.98,1261.46,0.002232,0.004691,NaN,NaN
2014-01-08,255.76,1260.23,-0.000859,-0.000975,255.854,NaN
...,...,...,...,...,...,...
2019-12-02,277.44,1348.90,0.002385,0.001084,280.026,276.270500
2019-12-03,276.19,1341.13,-0.004505,-0.005760,278.898,276.512167
2019-12-04,274.15,1334.09,-0.007386,-0.005249,277.158,276.674000
2019-12-05,273.30,1330.69,-0.003100,-0.002549,275.572,276.803500
2019-12-06,276.56,1343.31,0.011928,0.009484,275.528,276.956167

In [58]:
# 매수신호, 매도신호 입력
df2=df[Y-1:-1]
df2['매수신호']='No'
df2['매도신호']='No'
df2['보유여부']='No'
for i in range(1,len(df2)):
    if df2.loc[df2.index[i-1],'MA'+str(X)]<df2.loc[df2.index[i-1],'MA'+str(Y)]:
        if df2.loc[df2.index[i],'MA'+str(X)]>df2.loc[df2.index[i],'MA'+str(Y)]: #상방 돌파신호
            df2.loc[df2.index[i], '매수신호']='Yes'

for i in range(1,len(df2)):
    if df2.loc[df2.index[i-1],'MA'+str(X)]>df2.loc[df2.index[i-1],'MA'+str(Y)]:
        if df2.loc[df2.index[i],'MA'+str(X)]<df2.loc[df2.index[i],'MA'+str(Y)]: #하방 돌파신호
            df2.loc[df2.index[i], '매도신호']='Yes'
            
df2

C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,KOSPI 200,F-KOSPI 200,KOSPI 200 daily return,F-KOSPI 200 daily return,MA5,MA60,매수신호,매도신호,보유여부
D A T E,,,,,,,,,
2014-03-28,257.44,1258.20,0.000700,0.000971,254.730,253.398333,No,No,No
2014-03-31,258.11,1261.13,0.002603,0.002329,255.890,253.406167,No,No,No
2014-04-01,258.95,1268.21,0.003254,0.005614,257.368,253.480667,No,No,No
2014-04-02,259.70,1270.89,0.002896,0.002113,258.292,253.552167,No,No,No
2014-04-03,259.34,1272.11,-0.001386,0.000960,258.708,253.608167,No,No,No
...,...,...,...,...,...,...,...,...,...
2019-11-29,276.78,1347.44,-0.015823,-0.015605,280.976,275.950667,No,No,No
2019-12-02,277.44,1348.90,0.002385,0.001084,280.026,276.270500,No,No,No
2019-12-03,276.19,1341.13,-0.004505,-0.005760,278.898,276.512167,No,No,No
2019-12-04,274.15,1334.09,-0.007386,-0.005249,277.158,276.674000,No,No,No
2019-12-05,273.30,1330.69,-0.003100,-0.002549,275.572,276.803500,No,Yes,No

In [59]:
# 보유 종목 선별
for i in range(1,(len(df2))):
    if df2.loc[df2.index[i],'매수신호']=='Yes':
        df2.loc[df2.index[i],'보유여부']='KOSPI 레버리지'
    elif df2.loc[df2.index[i],'매도신호']=='Yes':
        df2.loc[df2.index[i],'보유여부']='KOSPI 인버스'
    else:
        if df2.loc[df2.index[i-1],'보유여부']=='KOSPI 레버리지':
            df2.loc[df2.index[i],'보유여부']='KOSPI 레버리지'
        elif df2.loc[df2.index[i-1],'보유여부']=='KOSPI 인버스':
            df2.loc[df2.index[i],'보유여부']='KOSPI 인버스'
df2.head(50)

,KOSPI 200,F-KOSPI 200,KOSPI 200 daily return,F-KOSPI 200 daily return,MA5,MA60,매수신호,매도신호,보유여부
D A T E,,,,,,,,,
2014-03-28,257.44,1258.20,0.000700,0.000971,254.730,253.398333,No,No,No
2014-03-31,258.11,1261.13,0.002603,0.002329,255.890,253.406167,No,No,No
2014-04-01,258.95,1268.21,0.003254,0.005614,257.368,253.480667,No,No,No
2014-04-02,259.70,1270.89,0.002896,0.002113,258.292,253.552167,No,No,No
2014-04-03,259.34,1272.11,-0.001386,0.000960,258.708,253.608167,No,No,No
2014-04-04,259.47,1275.77,0.000501,0.002877,259.114,253.670000,No,No,No
2014-04-07,259.89,1271.14,0.001619,-0.003629,259.470,253.774333,No,No,No
2014-04-08,260.47,1281.39,0.002232,0.008064,259.774,253.907500,No,No,No
2014-04-09,261.21,1280.65,0.002841,-0.000577,260.076,254.026333,No,No,No
2014-04-10,262.41,1282.12,0.004594,0.001148,260.690,254.167000,No,No,No
2014-04-11,260.53,1272.84,-0.007164,-0.007238,260.902,254.263667,No,No,No
2014-04-14,260.51,1276.75,-0.000077,0.003072,261.026,254.349500,No,No,No
2014-04-15,259.74,1271.87,-0.002956,-0.003822,260.880,254.454167,No,No,No
2014-04-16,259.83,1275.77,0.000347,0.003066,260.604,254.537833,No,No,No
2014-04-17,259.66,1272.36,-0.000654,-0.002673,260.054,254.593167,No,No,No
2014-04-18,261.52,1281.14,0.007163,0.006901,260.252,254.667167,No,No,No
2014-04-21,260.90,1280.41,-0.002371,-0.000570,260.330,254.786500,No,No,No
2014-04-22,261.55,1280.17,0.002491,-0.000187,260.692,254.930833,No,No,No
2014-04-23,261.20,1277.24,-0.001338,-0.002289,260.966,255.135000,No,No,No
2014-04-24,261.08,1275.04,-0.000459,-0.001722,261.250,255.321167,No,No,No
2014-04-25,257.42,1257.23,-0.014019,-0.013968,260.430,255.396667,No,No,No
2014-04-28,256.80,1257.23,-0.002409,0.000000,259.610,255.509833,No,No,No
2014-04-29,255.80,1252.35,-0.003894,-0.003882,258.460,255.684833,No,No,No
2014-04-30,255.33,1246.49,-0.001837,-0.004679,257.286,255.839667,No,No,No
2014-05-02,255.07,1248.20,-0.001018,0.001372,256.084,255.948167,No,No,No
2014-05-07,252.35,1232.34,-0.010664,-0.012706,255.070,255.978833,No,Yes,KOSPI 인버스
2014-05-08,253.84,1240.39,0.005904,0.006532,254.478,256.035000,No,No,KOSPI 인버스
2014-05-09,254.31,1240.63,0.001852,0.000193,254.180,256.075667,No,No,KOSPI 인버스
2014-05-12,255.80,1248.20,0.005859,0.006102,254.274,256.133833,No,No,KOSPI 인버스
2014-05-13,258.40,1265.77,0.010164,0.014076,254.940,256.257667,No,No,KOSPI 인버스
2014-05-14,262.43,1282.85,0.015596,0.013494,256.956,256.419167,Yes,No,KOSPI 레버리지
2014-05-15,262.40,1282.36,-0.000114,-0.000382,258.668,256.565167,No,No,KOSPI 레버리지
2014-05-16,262.97,1282.85,0.002172,0.000382,260.400,256.720333,No,No,KOSPI 레버리지
2014-05-19,263.42,1282.61,0.001711,-0.000187,261.924,256.895333,No,No,KOSPI 레버리지
2014-05-20,263.04,1281.39,-0.001443,-0.000951,262.852,257.096833,No,No,KOSPI 레버리지
2014-05-21,262.40,1284.56,-0.002433,0.002474,262.846,257.216500,No,No,KOSPI 레버리지
2014-05-22,263.33,1288.95,0.003544,0.003418,263.032,257.371833,No,No,KOSPI 레버리지
2014-05-23,263.42,1286.51,0.000342,-0.001893,263.122,257.491500,No,No,KOSPI 레버리지
2014-05-26,262.33,1283.83,-0.004138,-0.002083,262.904,257.575167,No,No,KOSPI 레버리지
2014-05-27,260.36,1271.38,-0.007510,-0.009698,262.368,257.609833,No,No,KOSPI 레버리지
2014-05-28,263.01,1286.51,0.010178,0.011900,262.490,257.686500,No,No,KOSPI 레버리지
2014-05-29,262.57,1283.58,-0.001673,-0.002277,262.338,257.791167,No,No,KOSPI 레버리지
2014-05-30,259.94,1273.09,-0.010016,-0.008172,261.642,257.877167,No,No,KOSPI 레버리지
2014-06-02,261.40,1276.26,0.005617,0.002490,261.456,257.945500,No,No,KOSPI 레버리지
2014-06-03,262.22,1276.99,0.003137,0.000572,261.828,258.022000,No,No,KOSPI 레버리지
2014-06-05,260.56,1268.70,-0.006331,-0.006492,261.338,258.075500,No,No,KOSPI 레버리지
2014-06-09,259.68,1270.05,-0.003377,0.001064,260.760,258.162167,No,No,KOSPI 레버리지
2014-06-10,262.64,1281.66,0.011399,0.009141,261.300,258.281333,No,No,KOSPI 레버리지
2014-06-11,262.62,1280.49,-0.000076,-0.000913,261.544,258.473167,No,No,KOSPI 레버리지
2014-06-12,262.01,1276.81,-0.002323,-0.002874,261.502,258.655167,No,No,KOSPI 레버리지

In [60]:
# 최소시작일 구하기
start=[]
for i in range(len(df2)):
    if df2.loc[df2.index[i-1],'매수신호']=='No':
        if df2.loc[df2.index[i],'매수신호']=='Yes':
            start.append(i)
start[0]

30

In [ ]:
# 포트폴리오 구성
df2['Portfolio']=0
df2.loc[df2.index[0:start[0]+1], 'Portfolio']=1000000
df2.head(40)

# 포트폴리오 운용
# KOSPI 레버리지 보유중일땐, 다음날부터 수익률에 영향을 받음.
#  보유중일 땐 다음날부터 포트폴리오 그대로.
for i in range(start[0],len(df2)-1):
    if df2.loc[df2.index[i],'보유여부']=='KOSPI 레버리지':
        df2.loc[df2.index[i+1], 'Portfolio']=(1+2*df2.loc[df2.index[i+1],'KOSPI 200 daily return'])*df2.loc[df2.index[i],'Portfolio']
    elif df2.loc[df2.index[i],'보유여부']=='KOSPI 인버스':
        df2.loc[df2.index[i+1],'Portfolio']=(1-df2.loc[df2.index[i+1], 'F-KOSPI 200 daily return'])*df2.loc[df2.index[i],'Portfolio']

df2[70:100]

C:\Users\sw.shin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 그림그리기
df2['benchmark']=df2['KOSPI 200']/df2.loc[df2.index[0],'KOSPI 200']
strategy=df2['Portfolio']/df2.loc[df2.index[0],'Portfolio']
plt.figure(figsize=(15,10))
plt.grid()
plt.plot(strategy, label='strategy: MA'+str(X)+', MA'+str(Y)+' LongShort')
plt.plot(df2['benchmark'], label='benchmark: KOSPI 200')
plt.text(df2.index[-1], strategy[-1], round(strategy[-1],3))
plt.text(df2.index[-1], df2.loc[df2.index[-1],'benchmark'], round(df2.loc[df2.index[-1],'benchmark'],3))
plt.title("Since : "+str(df2.index[0])+" / MA"+str(X)+", MA"+str(Y)+"strategy")
plt.legend()
plt.savefig(str(X)+'_'+str(Y)+'_'+str(Z)+'레버리지.png')